<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquarium Dashboard</title>
     <script src="https://www.gstatic.com/firebasejs/10.7.2/firebase-app.js"></script>
     <script src="https://www.gstatic.com/firebasejs/10.7.2/firebase-messaging-compat.js"></script>
    <!-- Include Bootstrap for styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'metric-list' %}">Aquarium Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'metric-list' %}">Métrique</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'metric_setting' %}">Métrique Paramétrage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chemical-tests' %}">Tests Chimiques</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main content -->
<div class="container mt-4">
    {% block content %}{% endblock %}
</div>
  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-app.js";
    import { getMessaging, getToken, onMessage } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-messaging.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyAZwYMKiwWzBmQSMc4v4hbF6rjcNCDBXVs",
      authDomain: "aquarium-16634.firebaseapp.com",
      projectId: "aquarium-16634",
      storageBucket: "aquarium-16634.appspot.com",
      messagingSenderId: "79360301551",
      appId: "1:79360301551:web:5ed19cd2cbe4986cfefe1a",
      measurementId: "G-5DY4YQWMEB"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);


    // Request notification permission
    Notification.requestPermission().then((permission) => {
      if (permission === 'granted') {
          console.log('Notification permission granted.');
      }
    }).catch((err) => {
        console.log("Unable to get permission to notify.", err);
    });

  const messaging = getMessaging(app);

  getToken(messaging, { vapidKey: "BHdoXT1hNbsnC9qQ6mryn21DZF-4doxIbqD3axBctDeN2WXRDEynnOTmboMUvbJO2qekDXinhIPK5-hIO9evVoM" })
      .then((t) => {
        console.log( "Token is:\n " + t);
         // Send the token to the Django view using an AJAX request
         fetch('/save-fcm-token/', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}', 
          },
          body: JSON.stringify({ token: t }),
      })
      .then(response => response.json())
      .then(data => console.log('Token sent to server:', data))
      .catch(error => console.error('Error sending token to server:', error));
      })
      .catch(function (err) {
          console.log("Didn't get notification permission", err);
      });

  onMessage(messaging, (payload) => {
      console.log("Message received. ", JSON.stringify(payload));
  });

  {% comment %} onBackgroundMessage(messaging, (payload) => {
    console.log('[firebase-messaging-sw.js] Received background message ', payload);
    // Customize notification here
    const notificationTitle = 'Background Message Title';
    const notificationOptions = {
      body: 'Background Message body.',
      icon: '/firebase-logo.png'
    };
    self.registration.showNotification(notificationTitle,
      notificationOptions);
  }); {% endcomment %}
</script>
<script>
  importScripts('https://www.gstatic.com/firebasejs/8.10.1/firebase-messaging.js');
  firebase.initializeApp({
    apiKey: 'AIzaSyAZwYMKiwWzBmQSMc4v4hbF6rjcNCDBXVs',
    authDomain: 'aquarium-16634.firebaseapp.com',
    databaseURL: 'https://aquarium-16634.firebaseio.com',
    projectId: 'aquarium-16634',
    storageBucket: 'aquarium-16634.appspot.com',
    messagingSenderId: '79360301551',
    appId: '1:79360301551:web:5ed19cd2cbe4986cfefe1a',
    measurementId: 'G-5DY4YQWMEB',
  });
  const messaging = firebase.messaging();
  messaging.onBackgroundMessage((payload) => {
    console.log(
      '[firebase-messaging-sw.js] Received background message ',
      payload
    );
    // Customize notification here
    const notificationTitle = 'Background Message Title';
    const notificationOptions = {
      body: 'Background Message body.',
      icon: '/firebase-logo.png'
    };
  
    self.registration.showNotification(notificationTitle, notificationOptions);
  });
  if ('serviceWorker' in navigator) {
     window.addEventListener('load', function () {
       navigator.serviceWorker.register('/firebase-messaging-sw.js');
     });
 }
</script>

<!-- Include Bootstrap and other JS scripts at the end for better performance -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
