<!-- aquariumapp/templates/aquariumapp/metric_list.html -->
{% extends 'base.html' %}
{% block content %}
  <h1 class="mt-4">Métriques</h1>
  
  <!-- Table with colored metrics -->
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Timestamp</th>
          <th>Température de l'eau (°C)</th>
          <th>Température de l'air (°C)</th>
          <th>Débit eau filtre</th>
          <th>pH</th>
          <th>Turbidité de l'eau</th>
          <th>Luminosité</th>
        </tr>
      </thead>
      <tbody>
        {% for metric in colored_metrics %}
          <tr>
            <td>{{ metric.timestamp }}</td>
            <td>{{ metric.water_temperature }}</td>
            <td>{{ metric.air_temperature }}</td>
            <td>{{ metric.water_filter_flow }}</td>
            <td>{{ metric.pH }}</td>
            <td>{{ metric.water_turbidity }}</td>
            <td class="{{ metric.intensity_color }}">{{ metric.light_intensity }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Graphs for the evolution of metrics -->
  <div class="container mt-4">
    <h2>Évolution des Métriques</h2>
    <canvas id="combined-chart" width="400" height="200"></canvas>
  </div>

  <!-- JavaScript for charts using Chart.js library -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    // Extract data for temperature and pH for the charts
    const timestamps = {{ timestamps_json|safe }};
    const temperatures = {{ temperatures_json|safe }};
    const pHValues = {{ ph_values_json|safe }};
    const waterFilterFlowValues = {{ water_filter_flow_values_json|safe }};
    const waterTurbidityValues = {{ water_turbidity_values_json|safe }};
  
     // Combined chart
  var combinedChart = new Chart(document.getElementById('combined-chart').getContext('2d'), {
    type: 'line',
    data: {
      labels: timestamps,
      datasets: [
        {
          label: 'Température de l\'eau (°C)',
          borderColor: 'rgb(75, 192, 192)',
          data: temperatures,
          fill: false,
        },
        {
          label: 'pH',
          borderColor: 'rgb(255, 99, 132)',
          data: pHValues,
          fill: false,
        },
        {
          label: 'Débit eau filtre',
          borderColor: 'rgb(255, 205, 86)',
          data: waterFilterFlowValues,
          fill: false,
        },
        {
          label: 'Turbidité de l\'eau',
          borderColor: 'rgb(54, 162, 235)',
          data: waterTurbidityValues,
          fill: false,
        },
        // Add more datasets for other metrics
      ],
    },
  });
    // Add more charts for other metrics
  </script>
{% endblock %}